<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ToDoList</title>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/main.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <div id="task-form">
        <form>
            <h2>Добавление задачи</h2>
            <label>Заголовок задачи</label>
            <input type="text" name="caption" value="">
            <label>Описание задачи</label>
            <input type="text" name="explanation" value="">
            <hr>
            <button id="save-task">Сохранить</button>
        </form>
    </div>
    <h1>Список задач (<span th:text="${tasksCount}">0</span>)</h1>
    <button id="show-add-task-form">Добавить задачу</button>
    <br>
    <div id="task-list">
        <h2 th:each="task : ${tasks}">
            <h2 th:attr="data-id=${task.id}" th:text="${task.caption}"></h2>
        </div>
    </div>

</body>
</html>